*{
    margin:0;
    padding:0;
}

#color{
	padding-top:20px;
	background-color:aqua;
}
/* AQUI PRIMER PUNTO DE CONTROL*/
header:first-child{
	/*margin-top:20px;*/
    margin-bottom:30px;
}

h1{
  text-align:center;
  padding:10px;
  margin:0;
      color: #FFFFFF;
    font-family: "Gilda Display", Sans-serif;
    font-size: 22px;
    font-weight: 700;
    font-style: italic;
    background-color:blue;
}

.centrado{
    display: flex;
    justify-content: center;
}

/* Cambiar para telefono,tablet*/
.menu{
    max-width:70%;
}

.menu ul:first-child{
    flex-direction:row;
   justify-content: center;
    min-width:26%;
}

.menu ul:first-child li{
    margin:5px;
    margin-left:20px;
}

.menu ul:last-child li a span span:nth-child(2){
    display:none;
}

.menu ul:last-child li a span{
    display: flex;
    flex-direction: column;
}

.menu ul:last-child{
    display: flex;
    flex-direction: column;
}
.menu ul:last-child li a{
    display: flex;
    align-items: center;
    justify-content: center;
}
#logo{
    min-width:50%;
    max-width:100%;
}
#logo img{
    width:100%;
}

#logo{
    display:flex;
    justify-content: center;
}

header:nth-child(2){
    display:flex;
    flex-direction:column;
    align-items:center;
    margin-bottom:0px;
}

#carouselExampleSlidesOnly{
    width:100%;
    background-color:gray;
}

#carouselExampleSlidesOnly img{
    height:15rem;/**/
}

main{
    background-color:gray;
    display:flex;
    justify-content:center;
}

.centrado2{
    margin:auto;
    display:block;
}

.wrapper .imagen{
  margin-top:40px;
  font-size: 35px;
  width:340px;
  line-height: 100px;
  color: #fff;
  border-radius: 15px 15px 0 0;
  background: linear-gradient(-135deg, #c850c0, #4158d0);
}
.wrapper form{
  padding: 10px 30px 50px 30px;
  height:280px;
  width:340px;
  background-color:white;
  border-bottom: 60px solid white;
  border-bottom-left-radius: 33px;
  border-bottom-right-radius: 33px;
  margin-bottom:50px;
}
.wrapper form .field{
  height: 50px;
  width: 100%;
  margin-top: 30px;
  position: relative;
}
.wrapper form .field input{
  height: 100%;
  width: 100%;
  outline: none;
  font-size: 17px;
  padding-left: 20px;
  border: 1px solid lightgrey;
  border-radius: 25px;
  transition: all 0.3s ease;
}
.wrapper form .field input:focus,
form .field input:valid{
  border-color: #4158d0;
}
.wrapper form .field label{
  position: absolute;
  top: 50%;
  left: 20px;
  color: #999999;
  font-weight: 400;
  font-size: 17px;
  pointer-events: none;
  transform: translateY(-50%);
  transition: all 0.3s ease;
}
form .field input:focus ~ label,
form .field input:valid ~ label{
  top: 0%;
  font-size: 16px;
  color: #4158d0;
  background: #fff;
  transform: translateY(-50%);
}

form .content label{
  color: #262626;
  user-select: none;
  padding-left: 5px;
}

form .field input[type="submit"]{
  color: #fff;
  border: none;
  padding-left: 0;
  /*margin-top:-12px;*/
  font-size: 20px;
  font-weight: 500;
  cursor: pointer;
  background: linear-gradient(-135deg, #c850c0, #4158d0);
  transition: all 0.3s ease;
}
/* EFECTO BOTON CLICK*/
form .field input[type="submit"]:active{
  transform: scale(0.95);
}

h5{
  padding:5px;
  background-color:black;
  color:white;
  text-align:center;
  font-weight:bold;
  margin-bottom:0;
}

footer{
  padding:8px;
  text-align:center;
  font-size:22px;
  font-weight:bold;
  color:gray;
}

.error{
	padding:10px;
 margin-top:15px;
/* margin-left:25%;*/
margin-left:7%;
  width:300px;
  font-size:19px;
  background-color: #E74F4F;
  color: #fff;
 text-align: center;
  display: none;
  font-weight:bold;
}
/* SEGUNDO PUNTO DE CONTROL*/
/* Movil mas grande*/
@media (min-width:576px){

.menu ul:first-child li{
    margin:5px;
    margin-left:0px;
}
.menu{
    max-width:100%;
}
#logo{
    max-width:60%;
}
#logo img{
    margin-left:10%;
    width:90%;
}
.menu ul:first-child{
    min-width:20%;

}
.menu ul:last-child{
    min-width:20%;
}
}
/* TERCER PUNTO DE CONTROL TABLET*/
@media (min-width:674px){

.menu ul:first-child li{
    margin:5px;
    margin-left:10px;
}
.menu{
    max-width:100%;
}
#logo{
    /*min-width:60%;*/
    max-width:50%;
   /* background-color:red;*/
}
#logo img{
   margin-right:10%;
    width:90%;
}
.menu ul:first-child{
    min-width:25%;
}
.menu ul:last-child{
    min-width:25%;

}
.wrapper form{
  height:280px;
  width:430px;
}
.wrapper .imagen{
  width:430px;
}
.error{
margin-left:18%;
}
}
/* CUARTO PUNTO DE CONTROL*/
@media (min-width:900px){
  .wrapper form{
  height:280px;
  width:480px;
}
.wrapper .imagen{
  width:480px;
}
#carouselExampleSlidesOnly{
  width:80%;
}
  .menu{
  max-width: 80%;
}
.error{
margin-left:20%;
}
}

/* QUINTO PUNTO DE CONTROL*/
@media (min-width:1000px){

/*  body{
   background-color:red;
}*/
.menu ul:first-child{
    justify-content: center;
}

.wrapper form{
  height:280px;
  width:530px;
}
.wrapper .imagen{
  width:530px;
}
#logo img{
    width:100%;
}
#carouselExampleSlidesOnly img{
  height:18rem;
}
.menu{
  max-width: 70%;
}
.error{
margin-left:23%;
}
}
/* PENSARMELO*/
/* SEXTO PUNTO DE CONTROL*/
@media (min-width:1200px){

.menu{
  max-width: 70%;
}

#carouselExampleSlidesOnly{
  width:70%;
}

#carouselExampleSlidesOnly img{
  height:20rem;
}
.error{
margin-left:25%;
}
/* ULTIMO PUNTO DE CONTROL*/
@media (min-width:1400px){
/*
.menu{
  max-width: 60%;
}
*/
#carouselExampleSlidesOnly{
  width:60%;
}/*
#carouselExampleSlidesOnly img{
  height:24rem;
}
*/
h1{
padding:10px;
    font-size: 35px;

}

}