*{
    margin:0;
    padding:0;
}

body{
    background-color:gray;
}
/* CABECERA */
header{
    background-color: aqua;
}

.centrado{
    display: flex;
    justify-content: center;
}

/* Cambiar para telefono,tablet*/
.menu{
    max-width: 70%;
    justify-content:space-between;
   /* background-color:red;*/
}

.menu ul:first-child{
    flex-direction:row;
    justify-content: center;
}

.menu ul:first-child li{
    margin:5px;
}

.menu ul:last-child li a span span:nth-child(2){
    display:none;
}

.menu ul:last-child li a span{
    display: flex;
    flex-direction: column;
}

.menu ul:last-child{
    display: flex;
    flex-direction: column;
}
.menu ul:last-child li a{
    display: flex;
    align-items: center;
    justify-content: center;
}
#logo{
    min-width:50%;
    max-width:100%;
}
#logo img{
    width:100%;
}

#logo{
    display:flex;
    justify-content: center;
}

/* SLIDER */

h5{
    padding:8px;
    background-color:black;
    color:grey;
    text-align:center;
}
header:nth-child(2){
    display:flex;
    flex-direction:column;
    align-items:center;
    background-color:gray;
}

#carouselExampleSlidesOnly{
    width:100%;
}

#carouselExampleSlidesOnly img{
    height:15rem;/**/
  }